.counter {
    text-align: center;
    width: 400px;
    height: 300px;
    border: 3px solid deepskyblue;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}

.board {
    background-color: deepskyblue;
    color: #2f2f2f;
    padding: 10px;
    font-size: 70px;
    font-weight: 600;
    border-radius: 10px;
    margin: 0;
    height: 170px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
}


.buttonBlock {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    border: 3px solid deepskyblue;
    border-radius: 10px;
}

.disabled {
    opacity: 0.5
}

.redText {
    color: #fc5252;
}

.settingsBlock{
    border: 3px solid deepskyblue;
    border-radius: 10px;
    height: 170px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: deepskyblue;
    font-size: 30px;
    font-weight: 600;
}


